<%- include('./partials/header') %>

<div class="row">
	<div class="col-8">
		<h1 style="text-align: center">About Us</h1>
		<br>
		<h3>DoTogether was created during the COVID-19 Pandemic by six students with a mission to connect people during and after the pandemic.</p> 
		<img style="margin-left: auto; margin-right: auto; display: block; margin-bottom: 5px" src="images/team1.PNG"  />
		<img style="margin-left: auto; margin-right: auto; display: block; margin-bottom: 25px" src="images/team2.PNG"  />
		<h3 style="margin-bottom: 25px; display: block;">We pitched to Ankur Pansari, an established venture capitalist. We presented this demo of DoTogether as part of the pitch.</h4>
		<video style="margin-left: auto; margin-right: auto; display: block; width: 80%" loading="lazy" controls>
			<source src="images/DoTogether.mp4" type="video/mp4">
		</video>
	</div>
</div>

<%- include('./partials/footer') %>

