<%- include('./partials/header') %>

<div class="row">
	<h1 class="title">Sign Up</h1>
	<div class="form-box">
		<form action="/register" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="username" required> 
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="password" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="firstName" placeholder="first name" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="lastName" placeholder="last name" required>
			</div>
			<div class="form-group">
				<label for="image">Upload your profile picture</label>
				<input type="file" id="image" class="form-control" name="image" accept="image/*">
			</div>
			<div class="form-group">
				<input class="form-control" type="email" name="email" placeholder="email address" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="bio" placeholder="bio">
			</div>
			<div class="form-group">
				<a href="https://drive.google.com/file/d/1CfF7Gmj1JPgxxVnzd-uS0ZKCiLWaWf9t/view?usp=sharing" target="blank" style="display: block">Terms and Conditions</a>
				<input name="terms" type="checkbox" required>
				<label for="terms">I agree to the terms and conditions</label>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">Sign up</button>
			</div> 
		</form>
		<a href="/activities">Go Back</a> 
	</div>
</div> 

<%- include('./partials/footer') %>
