<%- include('./partials/header') %>

<div class="row">
	<h1 class="title">Sign Up</h1>
	<div class="form-box">
		<form action="/register" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label target="username">Username</label>
				<input class="form-control" type="text" name="username" placeholder="username" required> 
			</div>
			<div class="form-group">
				<label target="password">Password</label>
				<input class="form-control" type="password" name="password" placeholder="password" required>
			</div>
			<div class="form-group">
				<label target="firstName">First Name</label>
				<input class="form-control" type="text" name="firstName" placeholder="first name" required>
			</div>
			<div class="form-group">
				<label target="lastName">Last Name</label>
				<input class="form-control" type="text" name="lastName" placeholder="last name" required>
			</div>
			<div class="form-group">
				<label target="email">Email</label>
				<input class="form-control" type="email" name="email" placeholder="email address" required>
			</div>

			<button class="collapsible">More about you (you can update these later)</button>
			<div class="content">
				<br>
				<div class="form-group">
					<label target="birthday">Birthday</label>				
					<input name="birthday" type="date" style="display: block">
				</div>
				<div class="form-group">
					<label for="image">Upload your profile picture</label>
					<input type="file" id="image" class="form-control" name="image" accept="image/*">
				</div>
				<div class="form-group">
					<label target="bio">Your Bio</label>
					<input class="form-control" type="text" name="bio" placeholder="bio">
				</div>
				<div class="form-group">
					<label target="contact">Social Media</label>
					<input class="form-control" type="text" name="contact" placeholder="a way for others to contact you">
				</div>
				<div class="form-group">
					<label target="gender">Gender</label>
					<select name="gender" style="display: block">
						<option value="na">prefer not to say</option>
						<option value="male">male</option>
						<option value="female">female</option>
						<option value="other">other</option>
					</select>
				</div>
			</div>
			<br><br>
			<div class="form-group">
				<a href="https://drive.google.com/file/d/1CfF7Gmj1JPgxxVnzd-uS0ZKCiLWaWf9t/view?usp=sharing" target="blank" style="display: block">Terms and Conditions</a>
				<input name="terms" type="checkbox" required>
				<label for="terms">I agree to the terms and conditions</label>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">Sign up</button>
			</div> 
		</form>
		<a href="/activities">Go Back</a> 
	</div>
</div> 

<script> 
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.display === "block") {
				content.style.display = "none";
			} else {
				content.style.display = "block";
			}
		});
	}
</script>

<%- include('./partials/footer') %>
