<%- include('./partials/header') %>
<div class="row">
	<div class="col-md-12">
		<form action="/verify" method="POST">
		  <legend>Verify Email</legend>
		  <div class="form-group">
				<p> Please verify your email by following the instructions sent to your email. <b>You may not receive an email the first time, please press send again if you do not get an email within a few seconds.</b> </p>
		  </div>
		  <div class="form-group">
		    <button type="submit" class="btn btn-primary">Send again</button>
		  </div>
		</form>
	</div>
</div>
<%- include('./partials/footer') %>

