body { 
	background-color: #FEFFD6; 
}

.thumbnail img { 
	width: 100%;
	padding: 0;
} 

.thumbnail { 
	padding: 0;
}

.delete-form { 
	display : inline;
}

.title { 
	text-align: center;
}

.form-box { 
	width: 30%;
	margin: 25px auto;
} 

html, body { 
	margin: 0;
	height: 100%;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.jumbotron-button { 
	font-family:georgia; 
	font-size: 1.5em;
	background-color: #0096C7; 
	color: #FEFFD6; 
}

.jumbotron-text { 
	font-family: georgia;
	font-size: 1.5em;
}

.jumbotron-add { 
	background-color: #F8A98C;
}

.jumbotron-group { 
	background-color: #0096C7; 
	padding: 1em;
	border-radius: 4px;
}

.jumbotron-label { 
	font-family: georgia;
	font-size: 1.2em;
	color: #FEFFD6; 
	font-weight: normal;
}

label { 
	font-family: georgia;
}

.form-input { 
	background-color: #FEFFD6; 
	color: #0096C7;
}

.page { 
	background-color: #0096C7; 
}

.card {
  transition: 0.3s;
	border: 0.5em solid #0096C7;
	background-clip: content-box;	
	font-family: georgia;
}

.card:hover {
  box-shadow: 0 5px 10px 0 #F8A98C;
	/*background-color: #0096C7; */
}

.card h2{
	margin-top: 0.2em;
	margin-bottom: 0em;
  font-size: 1.7em;
  font-weight: bold;
}

.card h3{
	margin: 0.7em;
	font-size: 1.1em;
	text-decoration: underline;
}

.label {
  background-color: #0096C7;
  text-align:center;
  font-size: 1em;
}

.card p{
	font-size: 1em;
	margin: 0;
	margin-top: 0.7em;
} 

/*.card h3{*/
  /*font-size: 10px;*/
  /*font-style: italic;*/
  /*color: gray;*/
  /*text-align: right;*/
/*}*/


