:root { 
	--yellow: #FEFFD6;
	--blue: #0096C7; 
	--brightblue: #00bfff;
	--red:#F8A98C; 
	--blue-decimal: 0, 150, 199;
}

body { 
	background-color: var(--yellow); 
}

h1 { 
	font-family: georgia;
}

a { 
	color: var(--blue);
}

.thumbnail img { 
	width: 100%;
	padding: 0;
} 

.thumbnail { 
	padding: 0;
}

.delete-form { 
	display : inline;
}

.title { 
	text-align: center;
}

.form-box { 
	width: 30%;
	margin: 25px auto;
} 

html, body { 
	margin: 0;
	height: 100%;
}

.collapsible {
  background-color: var(--blue);
  color: var(--yellow);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: var(--brightblue);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: var(--yellow);
}

/* Buttons */
.btn { 
	color: var(--yellow)
}

.btn-danger { 
	background-color: var(--red);
	border-color: var(--red);
} 

.btn-success { 
	background-color: var(--blue);
	color: var(--yellow);
	border-color: var(--blue);
}

.btn-success:hover { 
	background-color: var(--brightblue);
} 

/* Activities page */
.jumbotron-button { 
	font-family:georgia; 
	font-size: 1.5em;
	background-color: var(--blue); 
	color: var(--yellow); 
}

.jumbotron-text { 
	font-family: georgia;
	font-size: 1.5em;
}

.jumbotron-add { 
	background-color: var(--red);
}

.jumbotron-group { 
	background-color: var(--blue); 
	padding: 1em;
	border-radius: 4px;
}

.jumbotron-label { 
	font-family: georgia;
	font-size: 1.2em;
	color: var(--yellow); 
	font-weight: normal;
}

label { 
	font-family: georgia;
}

.page { 
	background-color: var(--blue); 
}

.card {
  transition: 0.3s;
	border: 0.5em solid var(--blue);
	background-clip: content-box;	
	font-family: georgia;
}

.card:hover {
  box-shadow: 1px 5px 10px 1px var(--red);
	/*background-color: var(--blue); */
}

.card h2{
	margin-top: 0.2em;
	margin-bottom: 0em;
  font-size: 1.7em;
  font-weight: bold;
}

.card h3{
	margin: 0.7em;
	font-size: 1.1em;
	text-decoration: underline;
}

.card h4 { 
	font-size: 1em;
	text-align: left;
}

.label {
  background-color: var(--blue);
  font-size: 1em;
}

.card p{
	font-size: 1em;
	margin: 0;
	margin-top: 0.7em;
} 

.posted { 
	font-style: italic;
}

.card img { 
	max-height: 20em;
}

.card .caption { 
	text-align: justify;
	background-color: var(--yellow);
}

/*Navbar*/
.navbar { 
	background-color: var(--blue); 
	font-family: georgia;
}

.navbar-default .navbar-brand { 
	color: var(--yellow);
}

.navbar-default .navbar-brand:hover { 
	color: var(--red);
}

.navbar-default .navbar-nav li a { 
	color: var(--yellow);
}

.navbar-default .navbar-nav li a:hover{ 
	background-color: var(--red);
}

.navbar-default .navbar-nav .active a { 
	background-color: var(--yellow);
	color: var(--blue);
} 

.navbar-default .navbar-nav .active a:hover {
	background-color: var(--red);
}

/*Footer*/
.footer a { 
	color: var(--blue);
	text-decoration: underline;
}

/*activities index*/
.activity-box { 
	border: 2em solid var(--blue)
}

.activity-box .caption { 
	background-color: var(--yellow);
	font-family: georgia; 
}

.activity-box strong { 
	color: black;
	text-decoration: underline;
}

hr { 
	border-color: var(--red)
}

.well { 
	background-color: var(--yellow);
	border: 2em solid var(--blue);
	padding: 9px;
}

.comment { 
	font-family: georgia;
	background-color: rgba(var(--blue-decimal),0.3); 
	padding: 15px;
	margin-bottom: 1em;
}

.comment strong { 
	color: black;
	font-style: italic;
	text-decoration: underline;
}

.list-group { 
	background-color: var(--red);
	padding: 1em;
}

.list-group-item { 
	background-color: var(--blue);
	color: var(--yellow);
	text-decoration: none;
}

.list-group-item:hover { 
	background-color: var(--brightblue);
	text-decoration: none;
}

.lead { 
	font-size: 3em;
	font-family: georgia;
	color: var(--blue)
}

/*forms*/
.form-box form { 
	background-color: var(--red);
	padding: 1em;
}

.form-box .form-group { 
	color: var(--yellow);
	background-color: var(--blue);
	padding: 0.5em;
}

.form-box .form-group a {
 	color: var(--yellow);	
}

.form-box .form-group a:hover { 
	text-decoration: underline;
	text-decoration-color: var(--yellow)
}

.form-box .form-group span { 
	font-weight: bold;
}

.form-group select, .form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"], .form-group input[type="file"], .form-group input[type="date"] { 
	background-color: var(--yellow); 
	color: var(--blue);
}

.form-group input[type="text"] { 
	background-color: var(--yellow); 
	color: var(--blue);
}

/*Profile*/
.profile-box { 
	background-color:var(--blue);
	padding: 1em 1em 1em 1em;
	color: var(--yellow);
}

.user-box { 
	background-color: var(--red);
	padding: 0.5em;
	color: var(--yellow);
}

.user-box h1 { 
	color: var(--yellow);
	padding: 0.5em;
	background-color: var(--blue);
}

.user-box .caption { 
	background-color: var(--blue);
	padding: 0.5em;
	color: var(--yellow);
	margin: 0.5em;
}

.profile-activities { 
	background-color: var(--red);	
	padding: 0.5em;
	font-family: georgia;
}

.profile-activities ul li{ 
	list-style-type: none;
	background-color: var(--blue);
	padding: 0.5em;
}

.profile-activities ul li a { 
	color: var(--yellow);
}

/*Messages*/
.notif { 
	color: black;
	background-color: var(--red);
	padding: 0.3em;
	border-radius: 100%;
	display: inline;
}
