:root { 
	--yellow: #FEFFD6;
	--blue: #0096C7; 
	--red:#F8A98C; 
}

body { 
	background-color: var(--yellow); 
}

.thumbnail img { 
	width: 100%;
	padding: 0;
} 

.thumbnail { 
	padding: 0;
}

.delete-form { 
	display : inline;
}

.title { 
	text-align: center;
}

.form-box { 
	width: 30%;
	margin: 25px auto;
} 

html, body { 
	margin: 0;
	height: 100%;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Activities page */
.jumbotron-button { 
	font-family:georgia; 
	font-size: 1.5em;
	background-color: var(--blue); 
	color: var(--yellow); 
}

.jumbotron-text { 
	font-family: georgia;
	font-size: 1.5em;
}

.jumbotron-add { 
	background-color: var(--red);
}

.jumbotron-group { 
	background-color: var(--blue); 
	padding: 1em;
	border-radius: 4px;
}

.jumbotron-label { 
	font-family: georgia;
	font-size: 1.2em;
	color: var(--yellow); 
	font-weight: normal;
}

label { 
	font-family: georgia;
}

.form-input { 
	background-color: var(--yellow); 
	color: var(--blue);
}

.page { 
	background-color: var(--blue); 
}

.card {
  transition: 0.3s;
	border: 0.5em solid var(--blue);
	background-clip: content-box;	
	font-family: georgia;
}

.card:hover {
  box-shadow: 1px 5px 10px 1px var(--red);
	/*background-color: var(--blue); */
}

.card h2{
	margin-top: 0.2em;
	margin-bottom: 0em;
  font-size: 1.7em;
  font-weight: bold;
}

.card h3{
	margin: 0.7em;
	font-size: 1.1em;
	text-decoration: underline;
}

.card h4 { 
	font-size: 1em;
	text-align: left;
}

.label {
  background-color: var(--blue);
  font-size: 1em;
}

.card p{
	font-size: 1em;
	margin: 0;
	margin-top: 0.7em;
} 

.posted { 
	font-style: italic;
}

.card img { 
	max-height: 20em;
}

.card .caption { 
	text-align: justify;
	background-color: var(--yellow);
}

/*Navbar*/
.navbar { 
	background-color: var(--blue); 
	font-family: georgia;
}

.navbar-default .navbar-brand { 
	color: var(--yellow);
}

.navbar-default .navbar-brand:hover { 
	color: var(--red);
}

.navbar-default .navbar-nav li a { 
	color: var(--yellow);
}

.navbar-default .navbar-nav li a:hover{ 
	background-color: var(--red);
}

.navbar-default .navbar-nav .active a { 
	background-color: var(--yellow);
	color: var(--blue);
} 

.navbar-default .navbar-nav .active a:hover {
	background-color: var(--red);
}

/*Footer*/

.footer a { 
	color: var(--blue);
	text-decoration: underline;
}

